body {
  margin: auto;
  max-width: 40em;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(226, 226, 226);
  background-color: rgb(108, 54, 54);
}

.header {
  background-color:  rgba(176, 65, 65, 0.387);
  color: rgb(226, 226, 226);
  margin: 0.5em 0;
  padding: 1em;
  text-align: center;
}

.nav {
  background-color: rgba(176, 65, 65, 0.387);
  margin: 0.5em 0;
  padding: 0.5em;
}

.content {
  background-color: rgba(176, 65, 65, 0.387);
  margin: 0.5em 0;
  padding: 1em;
}

h1, h2 {
  margin: 0;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:first-of-type) {
  margin-left: -0.25em;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

.page-nav {
  text-align: center;
}

.thread {
  border: 2px solid grey;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.message {
  border: 2px solid rgba(128, 128, 128, 0.3);
  margin: 1em;
  padding: 0.2em 0.5em;
}

.info {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: rgba(176, 65, 65, 0.387);
  color: white;
}

img {
  border-radius: 8px;
  max-height: 150px;
  max-width: 200px;
}
