{% extends "top_of_all_pages.html" %}

{% block content %}

<link rel="stylesheet" href="/static/main.css">

<form action="/edit/{{ message.id }}" method="post">
  <p>
    Viesti:<br />
    <textarea name="content" rows="5" cols="40" maxlength="1000" required>{{ message.content }}</textarea>  <br />
    Max. 1000 merkkiä
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä kommentti" />
</form>

<p>
  <a style="color:rgb(226, 226, 226)" href="/thread/{{ message.thread_id }}">Takaisin keskusteluun</a>
</p>

{% endblock %}