<!DOCTYPE html>
<html>


<body>
  {% if session.user_id %}
    <p>
      Olet kirjautunut nimellä {{ session.user_id }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
  {% else %}
    </p>
      <p>
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo käyttäjä</a>
    </p>
    {% for thread in threads %}
      <p>
        <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
        <br />
        {{ thread.total }} viestiä, uusin {{ thread.last }}
      </p>
      <hr />
    {% endfor %}
  {% endif %}
</body>

</html>


