<html>

{% extends "top_of_all_pages.html" %}

{% block content %}
<link rel="stylesheet" href="/static/main.css">

<body>
  <h1>Luo käyttäjätunnus</h1>

  <form action="/create" method="post">
    <p>
      <label for="username"> Tunnus:</label> <br />
      <input type="text" name="username" value="{{ filled.username }}" minlength="3" maxlength="16" />  <br />
      Min. 3 merkkiä, Max. 16 merkkiä
    </p>  
    <p>
      <label for="password1"> Salasana:</label> <br />
      <input type="password" name="password1" minlength="5" maxlength="20"/>  <br />
      Min. 5 merkkiä, Max 20 merkkiä
    </p>
    <p>
      <label for="password2"> Salasana uudestaan:</label> <br />
      <input type="password" name="password2" minlength="5" maxlength="20"/>  <br />
      Min. 5 merkkiä, Max 20 merkkiä
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>

  {% for prompt in get_flashed_messages() %}
    <p class="info">
      <b>{{ prompt }}</b>
    </p>
  {% endfor %}

  <hr />
</body>
{% endblock %}