<html>
{% block content %}
<link rel="stylesheet" href="/static/main.css">

<body>
  <h1>Luo käyttäjätunnus</h1>

  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ filled.username }}" maxlength="16" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>

  {% for prompt in get_flashed_messages() %}
    <p class="info">
      <b>{{ prompt }}</b>
    </p>
  {% endfor %}

  <hr />
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>
{% endblock %}