{% extends "top_of_all_pages.html" %}

{% block content %}

<link rel="stylesheet" href="/static/main.css">


<div class="header">
  <h1>{{ thread.title }}</h1> <br />
</div>

<div class="thread">
  <b>
    Näytteen kivityyppi ja kivilaji ovat {{ thread.rocktype }}, {{ thread.rock }} <br />
    <br />
    Näytte on kerätty {{ thread.collectiondate }} sijainnista {{ thread.longitude }} N, {{ thread.latitude }} E <br />
    <br />
    {{ thread.comment | show_lines }} <br />
    <img src="/image/{{ thread_id }}" /> <br />
  </b>
</div>

{% for message in messages %}
  <div class="message">
    <p>
      {{ message.username }} ({{ message.sent_at }}):
    </p>
    <p>
      {{ message.content | show_lines }}
    </p>
    {% if message.user_id == session.user_id %}
      <p>
        <a style="color:rgb(226, 226, 226)" href="/edit/{{ message.id }}">Muokkaa</a> |
        <a style="color:rgb(226, 226, 226)" href="/remove/{{ message.id }}">Poista</a>
      </p>
    {% endif %}
  </div>
{% endfor %}

{% if session.user_id %}
  <div class="message">
    <h2>Uusi kommentti</h2>

    <form action="/new_message" method="post">
      <p>
        Kommentti:<br />
        <textarea name="content" rows="5" cols="40" maxlength="1000" required></textarea>  <br />
        Max. 1000 merkkiä
      </p>
      <input type="hidden" name="thread_id" value="{{ thread.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
  </div>
{% endif %}

{% endblock %}