{% extends "top_of_all_pages.html" %}

{% block content %}

<link rel="stylesheet" href="/static/main.css">

{% for prompt in get_flashed_messages() %}
  <p class="info">
    <b>{{ prompt }}</b>
  </p>
{% endfor %}

<div class="header">
  <h1>{{ thread.title }}</h1> <br />
</div>

<div class="thread">
  <b>
    Näytteen kivityyppi ja kivilaji ovat {{ thread.rocktype }}, {{ thread.rock }} <br />
    <br />
    Näyte on kerätty {{ thread.collectiondate }} sijainnista {{ thread.longitude }}m N, {{ thread.latitude }}m E (ETRS-TM35FIN)<br />
    <br />
    {{ thread.comment | show_lines }} <br />
    <div class="img">
      {% for image in images %}
        <br />
        <img src="/image/{{ image.id }}" alt="Kuva kirjatusta näytteestä." /> <br />
        {% if thread.user_id == session.user_id %}
          <p>
            <a style="color:rgb(226, 226, 226)" href="/remove_image/{{ image.id }}">Poista</a>
          </p>
        {% endif %}
      {% endfor %}
    </div>
    {% if thread.user_id == session.user_id %}
      <form action="/add_image" method="post" enctype="multipart/form-data">
        <p>
          <label for="image"> Kuva (max 5MB):</label><input type="file" name="image" accept=".jpg"/>
        </p>
        <input type="hidden" name="thread_id" value="{{ thread.id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lisää kuva" />
      </form>
    {% endif %}
  </b>
</div>

{% for message in messages %}
  <div class="message">
    <p>
      {{ message.username }} ({{ message.sent_at }}):
    </p>
    <p>
      {{ message.content | show_lines }}
    </p>
    {% if message.user_id == session.user_id %}
      <p>
        <a style="color:rgb(226, 226, 226)" href="/edit/{{ message.id }}">Muokkaa</a> |
        <a style="color:rgb(226, 226, 226)" href="/remove/{{ message.id }}">Poista</a>
      </p>
    {% endif %}
  </div>
{% endfor %}

{% if session.user_id %}
  <div class="message">
    <h2>Uusi kommentti</h2>

    <form action="/new_message" method="post">
      <p>
        <label for="content"> Kommentti:</label> <br />
        <textarea name="content" rows="5" cols="40" maxlength="1000" required></textarea>  <br />
        Max. 1000 merkkiä
      </p>
      <input type="hidden" name="thread_id" value="{{ thread.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
  </div>
{% endif %}

{% endblock %}

