{% extends "top_of_all_pages.html" %}

{% block content %}

<link rel="stylesheet" href="/static/main.css">

<h1>Käyttäjä {{ user.username }}</h1>

{% if threads %}
  <p>
    Olet lisännyt {{ thread_count }} näytettä
  </p>

<h2>Käyttäjän lisäämät näytteet</h2>

  {% for thread in threads %}
    <div class="thread">
      <p>
        <a style="color:rgb(226, 226, 226)" href="/thread/{{ thread.thread_id }}">{{ thread.title }}</a>
      <br />
      {% if thread.total == 0 %}
        <p>Ei vielä kommentteja</p>
      {% else %}
        {% if thread.total == 1 %}
          {{ thread.total }} kommentti
        {% else %}
         {{ thread.total }} kommenttia
        {% endif %}
      {% endif %}
      </p>
      <p>
        <a style="color:rgb(226, 226, 226)" href="/edit_thread/{{ thread.thread_id }}">Muokkaa</a> |
        <a style="color:rgb(226, 226, 226)" href="/remove_thread/{{ thread.thread_id }}">Poista</a>
      </p>
      <br />
    </div>

  {% endfor %}

  <p class="page-nav">
    <a style="color:rgb(226, 226, 226)" href="/user/{{ user.user_id }}/{{ page - 1 }}">&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a style="color:rgb(226, 226, 226)" href="/user/{{ user.user_id }}/{{ page + 1 }}">&gt;</a>
  </p>


{% else %}

  <p>
    Käyttäjällä ei ole vielä lisättyjä näyteitä.
  </p>

{% endif %}


{% endblock %}