<h1>Käyttäjä {{ user.username }}</h1>

{% if threads %}
  <p>
    Olet lisännyt {{ threads | count }} näytettä
  </p>

<h2>Lisätyt näytteet</h2>

  {% for thread in threads %}

    <p>
      <a href="/thread/{{ thread.thread_id }}">{{ thread.title }}</a>
    <br />
    {% if thread.total == 0 %}
      <p>Ei vielä kommentteja</p>
    {% else %}
      {{ thread.total }} kommenttia
    {% endif %}
    </p>
    <p>
      <a href="/edit_thread/{{ thread.thread_id }}">Muokkaa</a> |
      <a href="/remove_thread/{{ thread.thread_id }}">Poista</a>
    </p>
    <hr />

  {% endfor %}


{% else %}

  <p>
    Käyttäjällä ei ole vielä lisättyjä näyteitä.
  </p>

{% endif %}

<p>
  <a href="/">Takaisin Etusivulle</a>
</p>